.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #dfe1f3;
	padding: 15px;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
	width: 100%;
	}
	
	.kg {
		width: 10rpx;
	}
	
	.box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 20rpx;
		background-color: #FFFFFF;
	}